aiogram==3.15.0
youtube-search-python
spotipy~=2.24.0
yt_dlp
python-dotenv~=1.0.1
deep-translator~=1.11.4
aiogram[i18n]
aiosqlite~=0.20.0
instagrapi~=2.1.2
pillow
requests~=2.32.3
aiofiles~=24.1.0
mutagen~=1.47.0
aiohttp~=3.11.7
beautifulsoup4~=4.12.3
yarl~=1.18.0
playwright~=1.49.0