aiogram==3.11.0
youtube-search-python
spotipy~=2.24.0
yt_dlp
python-dotenv~=1.0.1
bs4~=0.0.2
deep-translator~=1.11.4
aiogram[i18n]
aiosqlite~=0.20.0
instagrapi~=2.1.2
selenium~=4.24.0
pillow
requests~=2.32.3
aiofiles~=23.2.1
mutagen~=1.47.0
aiohttp~=3.10.5
beautifulsoup4~=4.12.3
yt-dlp~=2024.8.6
yarl~=1.11.0